<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
    <!-- 사용자 CSS 추가 -->
    <th:block layout:fragment="css">
        <style>
            .fieldError{
              color: #bd2130;
            }
            .footerDown {
                height: 245px;
            }
        </style>
    </th:block>
    <!-- 사용자 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script th:inline="javascript">
            $(document).ready(function(){
                var errorMessage = [[${errorMessage}]];
                if(errorMessage != null){
                    alert(errorMessage);
                }
                $("#detailAddress").change(function() {
                    let check = $("#postcode").val();
                    if (!check) {
                        alert("주소 검색을 먼저 해 주세요");
                        $("#detailAddress").val("");
                    } else {
                        addAddress();
                    }
                });
            });
            function addAddress() {
                let postcode = $("#postcode").val();
                let address = $("#address").val();
                let detailAddress = $("#detailAddress").val();
                let extraAddress = $("#extraAddress").val();

                $("#allAddress").val("(" + postcode + ") " + address + ", " + detailAddress + " " +extraAddress)
            }
        </script>
        <script>
            function findAddress() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        var address = ''; // 주소 변수
                        var extraAddress = ''; // 참고항목 변수

                        if (data.userSelectedType === 'R') { // 도로명 주소
                            address = data.roadAddress;
                        } else { // 지번 주소
                            address = data.jibunAddress;
                        }

                        if(data.userSelectedType === 'R'){  // 도로명 주소
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddress += data.bname;     // 법정동명이 있을 경우
                            }
                            if(data.buildingName !== '' && data.apartment === 'Y'){   // 건물명이 있고, 공동주택
                                extraAddress += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            if(extraAddress !== ''){        // 최종 문자열
                                extraAddress = '(' + extraAddress + ')';
                            }
                            $("#extraAddress").val(extraAddress);
                        } else {
                            $("#extraAddress").val("");
                        }
                        var postcode = data.zonecode
                        $("#postcode").val(postcode);
                        $("#address").val(address);
                        $("#allAddress").val("(" + postcode + ") " + address + " " + extraAddress);
                        $("#detailAddress").val("");
                        $("#detailAddress").focus();
                    }
                }).open();
            }
        </script>
    </th:block>

    <div layout:fragment="content">
        <div class="text-center mt-4 mb-4">
            <h1>회원 가입</h1>
        </div>
        <div class="col-4 mx-auto">
            <form action="/members/new" role="form" method="post" th:object="${memberFormDto}">
                <div class="text-start row mb-3">
                    <label th:for="name" class="col-sm-2 col-form-label">이름</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input type="text" th:field="*{name}" class="form-control">
                        </div>
                        <div class="form-check text-start" th:if="${#fields.hasErrors('name')}">
                            <p th:errors="*{name}" class="fieldError">Incorrect date</p>
                        </div>
                    </div>
                </div>

                <div class="text-start row mb-3">
                    <label th:for="email" class="col-sm-2 col-form-label">이메일 주소</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input type="text" th:field="*{email}" class="form-control mb-1">
                        </div>
                        <div class="form-check text-start" th:if="${#fields.hasErrors('email')}">
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect date</p>
                        </div>
                    </div>
                </div>

                <div class="text-start row mb-3">
                    <label th:for="password" class="col-sm-2 col-form-label">비밀번호</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input type="password" th:field="*{password}" class="form-control mb-1">
                        </div>
                        <div class="form-check text-start" th:if="${#fields.hasErrors('password')}">
                            <p th:errors="*{password}" class="fieldError">Incorrect date</p>
                        </div>
                    </div>
                </div>

                <div class="text-start row mb-3">
                    <label th:for="address" class="col-sm-2 col-form-label">주소</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input type="text" id="allAddress" th:field="*{address}" class="form-control mb-2" placeholder="전체 주소" readonly>
                        </div>
                        <div class="form-check">
                            <div class="input-group mb-2">
                                <input class="form-control" type="text" id="postcode" placeholder="우편번호" readonly>
                                <input class="form-control" type="button" onclick="findAddress()" value="주소 검색">
                            </div>
                        </div>
                        <input type="hidden" id="extraAddress">
                        <div class="form-check">
                            <input class="form-control mb-2" type="text" id="address" placeholder="주소" readonly>
                        </div>
                        <div class="form-check">
                            <input class="form-control mb-2" type="text" id="detailAddress" placeholder="상세주소">
                        </div>
                        <div class="form-check text-start" th:if="${#fields.hasErrors('address')}">
                            <p th:errors="*{address}" class="fieldError">Incorrect date</p>
                        </div>
                    </div>
                </div>

                <div class="text-start row mb-3">
                    <label th:for="tel" class="col-sm-2 col-form-label">전화번호</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input type="text" th:field="*{tel}" class="form-control">
                        </div>
                        <div class="form-check text-start" th:if="${#fields.hasErrors('tel')}">
                            <p th:errors="*{tel}" class="fieldError">Incorrect date</p>
                        </div>
                    </div>
                </div>

                <div style="text-align: center">
                    <button type="submit" class="btn btn-success" style="">회원가입</button>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>
        </div>
        <div class="footerDown"></div>
    </div>
</html>